.children {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* ce sera pour mobile */
/* .children button {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/arrow-up.svg");
  transform: rotate(180deg);
  background-color: none;
  border: none;
  width: 1.5rem;
  display: block;
} */

.link {
  display: block;
  position: relative;
  aspect-ratio: 6 / 9;
}

.link > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 20rem;
}

.container:hover .children {
  display: block;
}

.movieDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
}
