.container {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  overflow-x: auto;
  white-space: nowrap;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
}

.content {
  min-width: max-content;
  display: inline-flex;
  gap: 1.5rem;
  scroll-snap-align: start;
}

.content > * {
  transition: transform 0.2s;
}

.content > *:hover {
  transform: scale(1.05);
}

.timecode {
  font-size: 1.6rem;
  width: fit-content;
}

a.timecode:hover {
  text-decoration: underline;
}

.timecodesContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
