.logo {
  display: grid;
  font-size: xx-large;
  width: fit-content;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  border: 1px solid #ededed;
}

.logo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.red {
  background-color: var(--konbini-red);
  color: var(--konbini-yellow);
  border-left: 1px solid #ededed;
}
.black {
  background-color: black;
}

.logo > div.gauche {
  border-right: 1px solid #ededed;
}

.logo > div > span {
  height: 1em;
  line-height: 0.9em;
  letter-spacing: -2px;
  padding-inline: 0.1em;
}

.fullHeight {
  grid-row: span 2;
}

.fullHeight > span {
  line-height: 0.9em;
}
