.citeList {
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}


.citeItem {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-block: 0.4rem;
}

.citeItem p {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}

.citeItem ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.citeItem p:hover {
  text-decoration: underline;
}

.link {
  margin-inline: 0.5em;
}
