.video {
  width: 30rem;
}

.video h2 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  max-height: 4.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  overflow: hidden;
}

.thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.additionalInfo {
  font-size: 1.4rem;
  color: hsl(0, 0%, 67%);
}

.additionalInfo a:hover {
  color: hsl(0, 0%, 93%);
}
