.ytIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url("/youtube-icon.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.1em;
  aspect-ratio: 28.57 / 20;
}

.ytIcon path {
  stroke-width: 1px;
  stroke: black;
}
