.ytIcon {
  display: block;
  background-image: url("/youtube-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  aspect-ratio: 28.57 / 20;
}

.ytIcon path {
  stroke-width: 1px;
  stroke: black;
}
