.nav {
  padding: 1rem;
  font-size: large;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  padding: 0;
  margin: 0;
}

.item {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 3em;
}

.link {
  border: white solid 1px;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.link:hover {
  background-color: var(--konbini-red);
  color: var(--konbini-yellow);
}

.videoLink {
  display: flex;
  align-items: center;
}
.videoLink > * {
  margin-inline: 0.2em;
}

.videoLink > div {
  position: relative;
  top: 0.07em;
}

.currentLink {
  background-color: var(--konbini-red);
  color: var(--konbini-yellow);
}

.searchItem {
  height: auto;
}

.searchBarWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 520px) {
  .item {
    height: auto;
  }
}

@media screen and (min-width: 414px) {
  .item {
    height: 2.5em;
  }
}
