.container {
  width: 100%;
  position: relative;
  padding: 0.5rem 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.content {
  display: inline-flex;
  gap: 0.75rem;
}

.movieCard {
  scroll-margin: 2rem;
  overflow: hidden;
  margin: 0.25rem 0;
}

.movieCard:hover .link,
.movieCard:focus-within .link {
  transform: scale(1.08);
}

.movieCard:focus {
  outline: 0.25rem solid rgb(77, 144, 254);
  border-radius: 0.5rem;
}

.timecode {
  font-size: 1.6rem;
  width: fit-content;
}

a.timecode:hover {
  text-decoration: underline;
}

.timecodesContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .container {
    display: block;
    overflow: visible;
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .movieCard {
    flex: unset;
    margin: 0;
    width: 100%;
  }
}
